.ld-placeholder {
  background-color: #f0f0f0; /* Base placeholder color */
  background-image: linear-gradient(to right, #f0f0f0 0%, #e0e0e0 20%, #f0f0f0 40%, #f0f0f0 100%);
  background-size: 800px 100%;
  animation: shimmer 1.5s infinite linear;
}

.ld-container .ld-el:nth-child(3n +1) .ld-placeholder {
  animation-delay: .25s;
}
.ld-container .ld-el:nth-child(3n +2) .ld-placeholder {
  animation-delay: .5s;
}
.ld-container .ld-el:nth-child(3n) .ld-placeholder {
  animation-delay: .75s;
}

@keyframes shimmer {
  0% {
      background-position: -468px 0; 
  }
  100% {
      background-position: 468px 0;
  }
}
.loader .product-card:hover {
  transform: translateY(0);
}

.loader-spinner-line {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid #333;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 