/* Estilos para ProductCard */
.product-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  position: relative;
  width: 100%;
}

.product-card:hover {
  transform: translateY(-5px);
}
.product-card-image-link {
  text-decoration: none;
}
.product-card img,
.product-card .img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 5px;
  /* margin-bottom: 15px; */
}

.product-card h3 {
  margin: 10px 0;
  color: #333;
}

.price {
  font-size: 24px;
  font-weight: bold;
  color: #007bff;
  margin: 10px 0;
}