.summary-section {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--border);
  border-radius: var(--radius);
  background: var(--surface);
  transition: all 0.3s ease;
}

.summary-section:not(:last-child) {
  margin-bottom: var(--gap);
}

.summary-header {
  padding: .5rem var(--gap);
  border-bottom: 1px solid var(--border);
  cursor: pointer;
}

.summary-title {
  display: flex;
  justify-content: space-between;
  gap: var(--gap);
}

.summary-title h3 {
  margin: 0;
  font-size: 1.2rem;
  color: var(--text);
}

.summary-content {
  color: var(--muted);
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: var(--gap);
  justify-content: space-between;
}

.summary-content p, h3 {
  margin-top: 0;
  margin-bottom: .125rem;
}

.summary-badge {
  background-color: var(--color-green);
  color: white;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.summary-expanded-content {
  /* border-top: 1px solid var(--border); */
  padding: var(--gap);
}

.summary-section.expanded {
  box-shadow: var(--elev-2);
}

/* Responsive */
@media (max-width: 768px) {
  .summary-header {
    flex-direction: column;
  }

  .summary-badge {
    margin-top: var(--gap);
    align-self: flex-end;
  }
}
