.checkout-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .checkout-container {
    flex-direction: row;
  }
  .checkout-left {
    flex: 2;
  }
  .checkout-right {
    flex: 1;
  }
}